  <ul class="list-group m-3">
    <% teams.each do |team| %>
      <li class="d-flex justify-content-between align-items-center">
        <p class="<%= team[0] == current_user.team ? "fw-bold" : ""%>"><%= team[0].name %></p>
        <div class="d-flex justify-content-between gap-2">
          <p><%= team[1] %>pts</p>
          <p><%= ["🔺","🔻"].sample %></p> <%# TODO: add logic for arrows %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
<i image_tag ="fa-sharp fa-solid fa-caret-up"></i>
