  <ul class="list-group m-3">
    <% @teams.each do |team| %>
      <li class="d-flex justify-content-between align-items-center">
      <div class="d-flex">
        <p><%= team.id %> - </p>
        <p><%= team.name %></p>
      </div>
      <div class="d-flex">
      <%# ##ici la fonction implementée par la logique de calcul (idem dans controller) + progression des équipes grace au fleches %>
      <p><%= "1000pts" %></p>
      <p><%= "🔺🔻" %></p>
      </div>
      </li>
    <% end %>
  </ul>
</div>
