<div class="container mt-4">
  <h2 class="mt-4 p-3 text-center"><%= @team.name %></h2>
  <p class="my-3 text-center">**********************************************</p>
  <div class="row">
    <div class="col-12 text-center mt-4">
      <h4>Général</h4>
      <div class= "d-flex justify-content-center align-item-baseline gap-2">
        <%= image_tag 'user_marker.png', height: 60, width: 60, alt: "user marker" %>
        <h6 class="my-3"><%= @my_team_total_points %>pts</h6>
      </div>
    </div>
  </div>
    <p class="my-3 text-center">**********************************************</p>
    <div class="col-12 text-center">
      <div class="p-3 mt-4">
        <div id="ranking-chart">
          <h5>Classement</h5>
            <%= render "team_ranking", teams: @total_points_by_team %>
        </div>
      </div>
    </div>
  </div>
</div>
