<div class="col-6 position-relative">
  <% link_path = should_block ? "#" : path %>
  <%= link_to link_path do %>
    <%= render "timer", should_block: should_block, spot_id: spot_id, action_id: action_id %>
    <%= yield %>
  <% end %>
</div>
