<div class="container mt-4">
  <div class="participation-list">
    <% @last_participations.each do |participation| %>
      <div class="participation-item mb-2" >
        <%= participation_history(participation) %>
      </div>
    <% end %>
  </div>
</div>
