<div class="container mt-4">
  <div class="row mb-3">
    <div class="col-6">
      <%= render "shared/badge", { badge_img: "plant_watering", badge_text: "Arroser" } %>
    </div>
    <div class="col-6">
      <%= render "shared/badge", { badge_img: "planting", badge_text: "Planter" } %>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <%= render "shared/badge", { badge_img: "plant_caring", badge_text: "Entretenir" } %>
    </div>
    <div class="col-6">
      <%= render "shared/badge", { badge_img: "plant_dying", badge_text: "Aïe, c'est mort !" } %>
    </div>
  </div>
</div>
