<% if should_block %>
  <div
    data-controller="timer"
    data-timer-spot-id-value="<%= spot_id%>"
    data-timer-action-id-value="<%= action_id%>"
    class="timer shadow" >
    <p data-timer-target="timeLeft"></p>
  </div>
<% end %>
