<div style="width: 100%; height: 100vh;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-user-marker-value='<%= @user_marker %>'
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
