<div data-controller="overlay">
  <div class="container mt-4">
    <div class="text-center mt-4 p-3 align-items-center justify-content-center">
      <h2> Mes favoris </h2>
      <%= image_tag('love.png', alt: 'mes favoris', class:'lovepixel') %>
    </div>
    <%= render "shared/divider" %>
      <% if @favorite_spots.present? %>
        <div class="d-flex flex-column gap-5 mt-5">
          <% @favorite_spots.each do |spot| %>
            <%= render "favorite", spot: spot %>
          <% end %>
        </div>
      <% else %>
        <p>Vous n'avez pas encore de spots favoris.</p>
      <% end %>
  </div>
  <div data-overlay-target="spotDetails"></div>
</div>
