<div data-controller="overlay">
  <div class="container mt-4">
    <div class="text-center mt-4 p-3 align-items-center justify-content-center">
      <h2> Mes spots favoris </h2>
    </div>
    <%= render "shared/divider" %>
      <% if @favorite_spots.present? %>
        <div class="d-flex flex-column gap-4">
          <% @favorite_spots.each do |spot| %>
            <%= render "favorite", spot: spot %>
          <% end %>
        </div>
      <% else %>
        <p>Vous n'avez pas encore de spots favoris.</p>
      <% end %>
  </div>
  <div data-overlay-target="spotDetails"></div>
</div>
