// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$light-beige: #F7F0F5;
$bright-green: #70E666;
$dark-green: #0F431B;
$dark-purple: #150D30;
$purple: #4C018D;
