<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="badge mb-2">
    <%= image_tag badge_img, width: "80%", height: "80%" %>
  </div>
  <p><%= badge_text %></p>
</div>
