<%= link_to event_path(event) do  %>
  <div class="pixel-border d-flex justify-content-between align-items-center p-3 mb-5">
    <div class="d-flex flex-column justify-content-center align-items-start">
      <h6><%= event.event_type.name %></h6>
      <p class="mb-0"><%= event.occurs_at.strftime("le %d.%m à %Hh%M") %></p>
    </div>
    <% case event.event_type.name %>
    <% when "Nouvelle Oasis" %>
      <% img = "planting.png" %>
    <% when "Green Bombimg" %>
      <% img = "plant.png" %>
    <% when "Green Raid" %>
      <% img = "plant_watering.png" %>
    <% else %>
      <% img = "planting.png" %>
    <% end %>
    <%= render "shared/badge", badge_img: img, badge_text: "", size: "width: 60px; height: 60px;" %>
  </div>
<% end %>
