<div class="event-card">
  <div class="d-flex flex-column align-items-center">
    <p>raid name</p>
    <p>raid date</p>
  </div>
  <%= render "shared/badge", badge_img: "planting.png", badge_text: "", size: "width: 60px; height: 60px;" %>
</div>
