<div data-controller="plus-btn">
  <div class="square-btn" data-action="click->plus-btn#handleClick">
      <span class="plus-sign">+</span>
  </div>
  <div class="d-flex gap-4 radial-popup hidden" data-plus-btn-target="popup">
    <%= render "shared/badge", badge_img: "loading.png", badge_text: "Nouvelle Oasis", size: "width: 65px; height: 60px;", custom_class: "btn-raid text-center", plus_btn: true %>
    <%= render "shared/badge", badge_img: "bomb.png", badge_text: "Green Bombing", size: "width: 65px; height: 60px;", custom_class: "btn-raid text-center", plus_btn: true %>
    <%= render "shared/badge", badge_img: "person.png", badge_text: "Green Raid", size: "width: 65px; height: 60px;", custom_class: "btn-raid text-center", plus_btn: true %>
  </div>
</div>
