<div class="navbar fixed-top navbar-expand-sm navbar-top corner-background">
  <div class="container-fluid d-flex align-items-center">
    <%= link_to root_path, class: "text-decoration-none" do %>
      <div class="d-flex align-items-center relative-position">
        <h3 style="color: #0f431b; font-weight: bold; font-family: 'Saira', sans-serif; font-size: 32px;">COG</h3>
      </div>
    <% end %>
  </div>
</div>
