<div class="navbar fixed-top navbar-expand-sm navbar-light bg-transparent">
  <div class="container-fluid d-flex align-items-center">
    <%= link_to root_path, class: "text-decoration-none" do %>
      <div class="d-flex align-items-center">
        <h3 style="margin-left: 5px; margin-bottom: 0; color: #0f431b; font-weight: bold; font-family: 'Saira', sans-serif; font-size: 32px; letter-spacing: -2px;">CoG</h3>
      </div>
    <% end %>
  </div>
</div>
