.action-new {
  color: $light-beige;
}

.button-form {
  background-color: $light-beige;
  padding: 0.5rem 1rem;
  color: $dark-purple;
  border: 4px solid black;
}

.input-form {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
