.badge {
  width: 100px;
  height: 100px;
  background-color: $light-beige;
  box-shadow: 10px 5px 5px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-btn {
  p {
    margin: 0;
  }
}
