.favorite-card {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 0.2rem 0.8rem;
  margin: 0 2rem;
  margin-bottom: .5rem;

  .favorite-card-img {
    position: relative;
    object-fit: cover;
  }
  .picto-dry-or-not{
    display: flex;

  }
  
  // p {
  //   position: absolute;
  //   margin: 0;
  //   bottom: -16px;
  //   left: 50%;
  //   transform : translateX(-50%);
  //   width: 200px;
  //   white-space :nowrap;
  //   overflow: hidden;
  //   text-overflow: ellipsis;
  //   font-weight: bold;
  //   color: $dark-purple;
  //   background-color: white;
  //   padding: 4px;
  // }

}
