.favorite-card {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin: 0 2rem;
  margin-bottom: 2rem;
  margin-top:1rem;
  border: 4px solid white;

  .favorite-card-img {
    position: relative;
    // flex-direction: column;
    img{
      object-fit: cover;
      width: 100%;
    }
  }
  .picto-dry-or-not{
    position: absolute;
    height: 40px;
    bottom: calc(-43px / 2);
    left: 50%;
    transform: translateX(-50%);

    div{
      background-color: white;
      color: black;
      padding: 4px 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;
      gap: 4px;
    }

    img{
      object-fit: cover;
      width: auto;
    }

    p {
      margin: 0;
    }
  }

  // p {
  //   position: absolute;
  //   margin: 0;
  //   bottom: -16px;
  //   left: 50%;
  //   transform : translateX(-50%);
  //   width: 200px;
  //   white-space :nowrap;
  //   overflow: hidden;
  //   text-overflow: ellipsis;
  //   font-weight: bold;
  //   color: $dark-purple;
  //   background-color: white;
  //   padding: 4px;
  // }

}
