.navbar-lewagon {
  justify-content: space-between;
  background: #F7F0F5;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.rem-icon-size {
  width: 2rem;
  height: 2rem;
}

.btn-green {
  background-color: rgb(80, 173, 49);
  width: 4rem;
  height:4rem;
  box-shadow: inset 58px 21px 58px 67px rgba(76,1,141,0.79);
}

.square-btn {
  border-radius: 1.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.plus-sign {
  font-size: 3.5rem;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
