.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-top {
  background-color: rgba(182, 167, 163, 0.6);
  width: 90px;
  border-bottom-right-radius: 45%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  margin-left: -5px;
  padding-right: 10px;
  letter-spacing: 2px;
}
