.overlay {
  position: fixed;
  // width: 100%;
  // min-height: 100vh;
  top: 10%;
  border-radius: 16px 16px 0 0;
  transform: translateY(200%);
  transition: all .25s ease-in-out;
  z-index: 2000;
  box-shadow: 0px 7px 19px 15px rgba(0,0,0,0.59);
  background-color: $dark-purple;

  &.show {
    transform: translateY(-5%);
    bottom: -5%;
    overflow-x: hidden;
  }

  h2 {
    margin-bottom: 0;
  }

  .spot-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  img {
    object-fit: cover;
  }
}
