.mb-fat {
  margin-bottom: 32px;
}

#point-win {
  color: $bright-green;
}

#point-lost {
  color: red
}

#ranking-chart {
  border: 8px double $light-beige;
  box-shadow: 0 0 0 60px $dark-purple inset;
  padding: 16px;
}

.participation-item {
  background-color: white;
  color: $dark-purple;
  border-radius: 50px;
  padding-left: 8px;
  margin: 10px;
}
