// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: $dark-purple;
  color: $light-beige
}

a {
  color: $light-beige;
  text-decoration: none;
}

:root {
	--pixel-bg: #150D30; /* Inner background color */
	--pixel-border: white; /* Inner border color: */
	--pixel-border-2: #150D30; /* Middle border color: */
	--pixel-border-3: var(--pixel-border); /* Outer border color */
	--pixel: .125rem; /* Pixel size */
}
